* {
    margin: 0;
}

.footer__container {
    margin: 0;
}

.div__red {
    width: 100%;
    height: 123.18px;
    left: 0px;
    top: 870px;
    background: #DD1A1A;
}

.div__black {
    width: 100%;
    height: 69px;
    left: 0px;
    top: 962px;
    background: #0C0C0C;
}

.circle {
    box-sizing: border-box;

    position: absolute;
    width: 117px;
    height: 117px;
    left: 41rem;
    top: 129rem;

    background: #FFFFFF;
    border: 12px solid #000000;
    border-radius: 100%;
}

.circle__center {
    box-sizing: border-box;
    position: absolute;
    width: 63px;
    height: 63px;
    left: 15px;
    top: 15px;
    background: #212121;
    border: 12px solid #000000;
    border-radius: 100%;
}